.is-projects.dark {
	background: #111;
}

.is-projects {
	background: var(--background-color);
}

.left-side {
	flex: 0 0 100%;
	padding-top: 30px;
}

.right-side {
	flex: 0 0 100%;
}

.cards {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	justify-content: space-evenly;
}

.card {
	border: 4px solid var(--theme-color);
	box-shadow: 5px 5px 0 var(--theme-color);
	display: flex;
	flex-flow: column nowrap;
	margin: 12px;
	max-width: 350px;
	transition: box-shadow 0.05s ease-out 0.1s, transform 0.05s ease-out 0.1s;
	width: 100%;
}

.card.active {
	box-shadow: 0 0 0 var(--theme-color);
	transform: translate(6px, 6px);
	transition: box-shadow 0.05s ease-out 0s, transform 0.05s ease-out 0s;
}

.card:hover .top .glass {
	opacity: 0;
}

.top {
	height: 130px;
	overflow: hidden;
}

.glass {
	height: 100%;
	width: 100%;
	background: rgba(41, 98, 255, 0.75);
	opacity: 1;
	transition: opacity 0.35s;
	position: relative;
}

.glass:before,
.glass:after {
	content: "";
	background: rgba(255, 255, 255, 0.75);
	display: block;
	height: 160%;
	position: absolute;
	transform: rotate(20deg);
	transform-origin: 50% 100%;
	z-index: 10;
}

.glass:before {
	right: 90px;
	top: -40px;
	width: 50px;
}

.glass:after {
	right: 60px;
	top: -40px;
	width: 15px;
}

.bottom {
	background: #fff;
	box-sizing: border-box;
	display: flex;
	flex: 0 0 50%;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 6px 0 12px;
	position: relative;
	user-select: none;
}

.bottom .title {
	color: var(--theme-color);
	font-size: var(--font-large);
}

.text-group {
	padding: 6px 9px;
	text-align: center;
}

.separator {
	width: 1000px !important;
	display: block;
	border-bottom: 2px solid var(--theme-color) Secondary;
	margin: 10px auto;
	width: 35px;
}

.desc {
	color: var(--theme-color);
	font-size: var(--font-small);
}

.tech-stack {
	background: var(--theme-color) Secondary;
	bottom: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	left: 0;
	padding: 3px 0;
	position: absolute;
	width: 100%;
}

.tech-stack li {
	color: #fff;
	font-size: var(--font-small);
	height: 20px;
	margin-right: 1px;
	line-height: 20px;
	text-align: center;
	width: 20px;
}

.card:hover {
	cursor: pointer;
}

.project-details {
	background: #fff;
	display: none;
	max-width: 604px;
	width: 95%;
}

.project-details:hover {
	cursor: auto;
}

.project-details.active {
	display: block;
	overflow: auto;
	max-height: 90vh;
}

.project-details.bit-style {
	border: 2px solid var(--theme-color);
}

.project-details .top {
	height: 35vh;
	width: 100%;
}

.bottom {
	border-top: 2px solid var(--theme-color) Secondary;
	position: relative;
}

.text-group {
	padding: 9px 15px 12px;
}

.text-group .title {
	font-size: var(--font-lead);
}

.text-group .subtitle {
	font-size: var(--font-small);
	padding-top: 2px;
}

.text-group .description {
	padding: 10px 0 18px;
}

.text-group .links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.link {
	align-items: center;
	color: var(--theme-color);
	background: var(--background-color);
	border: 1px solid var(--theme-color);
	display: flex;
	flex: 0 0 100%;
	flex-flow: row nowrap;
	font-size: var(--font-small);
	height: 32px;
	justify-content: center;
	margin-bottom: 6px;
	transition: background 0.1s linear, color 0.1s linear;
}

.link:only-child {
	flex: 0 0 100%;
}

.link path {
	transition: fill 0.1s linear;
}

.link:hover {
	background: var(--theme-color) Secondary;
	color: #fff;
	cursor: pointer;
}

.link:hover path {
	fill: #fff;
}

.link svg {
	margin-right: 9px;
}

.link.is-desktop-icon svg {
	width: 18px;
}

.link.is-github-icon svg {
	width: 22px;
}

.bottom .tech-stack {
	background: var(--theme-color) Secondary;
	display: flex;
	flex-flow: row wrap;
	justify-self: flex-start;
	padding: 9px 0 3px;
}

.bottom .tech-stack .tech {
	color: #fff;
	box-shadow: 3px 3px 0 var(--theme-color);
	font-size: var(--font-small);
	margin: 0 4px 6px 4px;
	padding: 6px 15px;
}

.close {
	background: transparent;
	border: none;
	bottom: 0;
	color: #fff;
	font-size: 32px;
	position: absolute;
	right: 0;
}

.close:hover {
	cursor: pointer;
	opacity: 0.75;
}

@media (min-width: 600px) {
	.card {
		width: 235px;
	}

	.link {
		flex: 0 0 48%;
	}
}

@media (min-width: 769px) {
	/* .card {
		width: 30px;
	} */
	.left-side {
		flex: 0 0 65%;
		order: 1;
		padding: 0 3% 0 0;
	}

	.right-side {
		flex: 0 0 35%;
		order: 2;
		padding: 0;
	}

	.project-details .top {
		height: 350px;
	}
}
